:root {
  --z-index-header-5: 5;
}

body {
  margin: 0rem;
  background-color: var(--color-main-bg);
  scroll-behavior: smooth;
  box-sizing: border-box;
  word-wrap: break-word;
}

#root {
  min-height: 100vh;
  position: relative;
}

.cursor {
  cursor: pointer;
}

.main {
  margin: 1rem 3rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-direction {
  flex-direction: column;
}

.m-b-24 {
  margin-bottom: 1.5rem;
}

.flex-end {
  justify-content: flex-end;
}
